* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(109, 171, 237);
  font-family: "Montserrat", sans-serif;
  position: relative;
}

.container {
  background-color: #ccc;
  width: 50%;
  /* margin: 0 auto; */
  position: absolute;
  top: 200px;
  left: 25%;
}

.img-container {
  float: left;
}
